/* Detail.css */

.detail-container {
    display: flex;
    flex-wrap: wrap; /* Permite que las columnas se ajusten en una sola fila o en varias si no caben */
  }
  
  .left-column {
    flex: 1; /* Ocupa el espacio disponible */
    padding: 16px;
    border-right: 1px solid #ccc; /* Línea que separa las columnas */
  }
  
  .right-column {
    flex: 1; /* Ocupa el espacio disponible */
    padding: 16px;
  }
  
  .bottom-row {
    width: 100%; /* Ocupa todo el ancho disponible */
    padding: 16px;
  }
  