/* Estilos para el componente HomePage */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  overflow-y: auto; /* Habilita el scroll vertical cuando el contenido es demasiado grande */
  flex: 1; /* Para que ocupe el espacio restante */
  padding: 20px;
}

.side {
  /* Establece el ancho deseado para el aside */
  width: 30%
  /* Estilos adicionales para el aside según tus necesidades */
}
.sideCards {
  /* Establece el ancho deseado para el aside */
  width: 70%
  /* Estilos adicionales para el aside según tus necesidades */
}

.footer {
  /* Estilos para el footer según tus necesidades */
}
