.container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  }

.cardsFilterOrder{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;

}
.order{
    padding-top: 100px;padding-left: 20px;
}

.order label, h3{
    color: white;
}.order input{
    margin: 10px;
}