.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-height: 50%;/* Elimina cualquier margen */
  padding: 0; 
  
}
.recipes{
  padding: 20px;

}

.paginate, .recipes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.paginate{
  max-width: 100%;
}
