.cardsContainer {
  display: inline-block;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 50%;
  margin: 0; /* Elimina cualquier margen */
  padding: 0; /* Elimina cualquier padding */
  overflow: hidden; /* Evita que el contenido sobresalga del contenedor */
  
}

.paginate, .recipes{
  display: block;
}
